### Übungsaufgaben zu Pandas

--> vgl. für die Dokumentation von Pandas z.B. https://pandas.pydata.org/pandas-docs/stable/

In [1]:
import pandas as pd
import numpy as np

In [2]:
exam_data  = {'name': ['claudia', 'emily', 'daniel', 'fred', 'hannah', 'anna', 'ilse', 'jonas', 'gustav', 'berta'],
        'punkte': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'versuche': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'bestanden': ['ja', 'nein', 'ja', 'nein', 'nein', 'ja', 'ja', 'nein', 'nein', 'ja']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

      name  punkte  versuche bestanden
a  claudia    12.5         1        ja
b    emily     9.0         3      nein
c   daniel    16.5         2        ja
d     fred     NaN         3      nein
e   hannah     9.0         2      nein
f     anna    20.0         3        ja
g     ilse    14.5         1        ja
h    jonas     NaN         1      nein
i   gustav     8.0         2      nein
j    berta    19.0         1        ja

In [3]:
# Eine Zusammenfassung der Daten

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
name         10 non-null object
punkte       8 non-null float64
versuche     10 non-null int64
bestanden    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [4]:
df.shape #(Zeilen, Spalten)

(10, 4)

In [5]:
# 1) Gib die Anzahl der Zeilen und die Anzahl der Spalten aus

In [6]:
# 2) Gib nur die ersten drei Zeilen des Dataframes aus

In [7]:
# 3) Gib nur die Spalten "name" und "punkte" aus

In [8]:
# 4) Gib nur die Spalten "punkte" und "bestanden" für Zeile b, d, f und g aus

In [9]:
# 5) Gib nur die Zeilen aus, in denen Daten bei "Punkte" fehlen

In [10]:
# 6) Gib alle Daten für die Personen aus, die mehr als zwei Versuche gebraucht haben

In [11]:
# 7) Gib alle Daten für die Personen aus, die zwischen 15 und 20 Punkte haben

In [12]:
# 8) Gib Fred 11.5 Punkte

In [13]:
# 9) Berechne die Gesamtanzahl aller Versuche der Personen

In [14]:
# 10) Berechne den Mittelwert der Punkte der Personen

In [15]:
# 11) Sortiere die Daten alphabetisch nach Namen

In [16]:
# 12) Mach in der Spalte "bestanden" aus ja 'True' und aus nein 'False'

In [17]:
# 13) Füge eine neue Spalte "Semester" hinzu (die Werte kannst du dir ausdenken)

In [18]:
# 14) Füge eine neue Zeile für "Katja" hinzu (die Werte kannst du dir ausdenken )

In [19]:
# 15) Lösche die Zeile für "Katja" wieder

In [20]:
# 16) Ersetze alle 'na'-Werte mit einer Null

In [21]:
# 17) Schreibe die Daten in eine neue CSV-Datei

#### und nun mit importierten Daten...

In [22]:
data = pd.read_csv('movies_metadata.csv', encoding = "ISO-8859-1", error_bad_lines=False)

b'Skipping line 31: expected 24 fields, saw 25\n'

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 24 columns):
adult                    49 non-null bool
belongs_to_collection    10 non-null object
budget                   49 non-null int64
genres                   49 non-null object
homepage                 5 non-null object
id                       49 non-null int64
imdb_id                  49 non-null object
original_language        49 non-null object
original_title           49 non-null object
overview                 48 non-null object
popularity               49 non-null float64
poster_path              49 non-null object
production_companies     49 non-null object
production_countries     49 non-null object
release_date             49 non-null object
revenue                  49 non-null int64
runtime                  49 non-null float64
spoken_languages         49 non-null object
status                   49 non-null object
tagline                  40 non-null object
title                    49 non-null object
video                    49 non-null bool
vote_average             49 non-null float64
vote_count               49 non-null int64
dtypes: bool(2), float64(3), int64(4), object(15)
memory usage: 8.6+ KB

In [24]:
data.shape #(Zeilen, Spalten)

(49, 24)

In [25]:
# 18) Lass dir alle Spalten des Datensatzes anzeigen

In [26]:
# 19) Lass dir nur die ersten 6 Zeilen anzeigen

In [27]:
# 20) Gib alle Daten für die Spalten "title" und "genre" aus

In [28]:
# 21) Lass dir die Daten des Films in der vierten Zeile anzeigen

In [29]:
# 22) Lass dir die Daten für den Film "The American President" anzeigen

In [30]:
# 23) Erzeuge einen kleineren Datensatz, der nur noch die Daten dieser Spalten enthält:

# 'title',
# 'release_date'
# 'original_language', 
# 'spoken_languages',

In [31]:
# 24) Sortiere diesen neuen Datensatz nach Erscheinungsdatum

In [32]:
# 25) Shuffel den (originalen) Datensatz bzw. bringe ihn in eine zufällige Reihenfolge

In [33]:
# 26) Teile den (originalen) Datensatz in ein Trainingsset(80%) und ein Testset (20%) auf 
# (nutze "random-state", um das Vorgehen reproduzieren zu können)

In [34]:
# 27) Schreibe nun je das Training- und das Testset in eine neue CSV-Datei