### Übungsaufgaben zu Pandas: Lösungen

--> vgl. für die Dokumentation von Pandas z.B. https://pandas.pydata.org/pandas-docs/stable/

In [3]:
import pandas as pd
import numpy as np

In [4]:
exam_data  = {'name': ['claudia', 'emily', 'daniel', 'fred', 'hannah', 'anna', 'ilse', 'jonas', 'gustav', 'berta'],
        'punkte': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'versuche': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'bestanden': ['ja', 'nein', 'ja', 'nein', 'nein', 'ja', 'ja', 'nein', 'nein', 'ja']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

      name  punkte  versuche bestanden
a  claudia    12.5         1        ja
b    emily     9.0         3      nein
c   daniel    16.5         2        ja
d     fred     NaN         3      nein
e   hannah     9.0         2      nein
f     anna    20.0         3        ja
g     ilse    14.5         1        ja
h    jonas     NaN         1      nein
i   gustav     8.0         2      nein
j    berta    19.0         1        ja

In [5]:
# Eine Zusammenfassung der Daten

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
name         10 non-null object
punkte       8 non-null float64
versuche     10 non-null int64
bestanden    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [6]:
# 1) Gib die Anzahl der Zeilen und die Anzahl der Spalten aus

print("Anzahl der Zeilen: "+str(len(df.axes[0])))
print("Anzahl der Spalten: "+str(len(df.axes[1])))

Anzahl der Zeilen: 10
Anzahl der Spalten: 4

In [7]:
# 2) Gib nur die ersten drei Zeilen des Dataframes aus

print(df[:3])

# oder:
#print(df.iloc[:3])

      name  punkte  versuche bestanden
a  claudia    12.5         1        ja
b    emily     9.0         3      nein
c   daniel    16.5         2        ja

In [15]:
# 3) Gib nur die Spalten "name" und "punkte" aus 

print(df['name'])
#print(df[['name', 'punkte']])

a    claudia
b      emily
c     daniel
d       fred
e     hannah
f       anna
g       ilse
h      jonas
i     gustav
j      berta
Name: name, dtype: object

In [9]:
# 4) Gib nur die Spalten "punkte" und "bestanden" für Zeile b, d, f und g aus
print(df.iloc[[1, 3, 5, 6], [1, 3]])

   punkte bestanden
b     9.0      nein
d     NaN      nein
f    20.0        ja
g    14.5        ja

In [10]:
# 5) Gib nur die Zeilen aus, in denen Daten bei "Punkte" fehlen

print(df[df['punkte'].isnull()])

    name  punkte  versuche bestanden
d   fred     NaN         3      nein
h  jonas     NaN         1      nein

In [11]:
# 6) Gib alle Daten für die Personen aus, die mehr als zwei Versuche gebraucht haben
print(df[df['versuche'] > 2])

    name  punkte  versuche bestanden
b  emily     9.0         3      nein
d   fred     NaN         3      nein
f   anna    20.0         3        ja

In [12]:
# 7) Gib alle Daten für die Personen aus, die zwischen 15 und 20 Punkte haben

print(df[df['punkte'].between(15, 20)])

     name  punkte  versuche bestanden
c  daniel    16.5         2        ja
f    anna    20.0         3        ja
j   berta    19.0         1        ja

In [16]:
# 8) Gib Fred 11.5 Punkte 

print("Die Anzahl der Punkte in Zeile d in 11.5 verändern")
df.loc['d', 'punkte'] = 11.5
print(df)

Die Anzahl der Punkte in Zeile d in 11.5 verändern
      name  punkte  versuche bestanden
a  claudia    12.5         1        ja
b    emily     9.0         3      nein
c   daniel    16.5         2        ja
d     fred    11.5         3      nein
e   hannah     9.0         2      nein
f     anna    20.0         3        ja
g     ilse    14.5         1        ja
h    jonas     NaN         1      nein
i   gustav     8.0         2      nein
j    berta    19.0         1        ja

In [14]:
# 9) Berechne die Gesamtanzahl aller Versuche der Studierenden

print(df['versuche'].sum())

19

In [17]:
# 10) Berechne den Mittelwert der Punkte der Studierenden

print(df['punkte'].mean())

# oder auch mit:
df.describe()

13.333333333333334

          punkte   versuche
count   9.000000  10.000000
mean   13.333333   1.900000
std     4.444097   0.875595
min     8.000000   1.000000
25%     9.000000   1.000000
50%    12.500000   2.000000
75%    16.500000   2.750000
max    20.000000   3.000000

In [20]:
# 11) Sortiere die Daten alphabetisch nach Namen 

print(df.sort_values(by='name', ascending=True))

      name  punkte  versuche bestanden
f     anna    20.0         3        ja
j    berta    19.0         1        ja
a  claudia    12.5         1        ja
c   daniel    16.5         2        ja
b    emily     9.0         3      nein
d     fred    11.5         3      nein
i   gustav     8.0         2      nein
e   hannah     9.0         2      nein
g     ilse    14.5         1        ja
h    jonas     NaN         1      nein

In [21]:
# 12) Mach in der Spalte "bestanden" aus ja 'True' und aus nein 'False'

df['bestanden'] = df['bestanden'].map({'ja': True, 'nein': False})
print(df)

      name  punkte  versuche  bestanden
a  claudia    12.5         1       True
b    emily     9.0         3      False
c   daniel    16.5         2       True
d     fred    11.5         3      False
e   hannah     9.0         2      False
f     anna    20.0         3       True
g     ilse    14.5         1       True
h    jonas     NaN         1      False
i   gustav     8.0         2      False
j    berta    19.0         1       True

In [22]:
# 13) Füge eine neue Spalte "Semester" hinzu (die Werte kannst du dir ausdenken)

semester = [1,2,1,1,2,2,3,3,4,1]
df['semester'] = semester
print(df)

      name  punkte  versuche  bestanden  semester
a  claudia    12.5         1       True         1
b    emily     9.0         3      False         2
c   daniel    16.5         2       True         1
d     fred    11.5         3      False         1
e   hannah     9.0         2      False         2
f     anna    20.0         3       True         2
g     ilse    14.5         1       True         3
h    jonas     NaN         1      False         3
i   gustav     8.0         2      False         4
j    berta    19.0         1       True         1

In [25]:
# 14) Füge eine neue Zeile für "Katja" hinzu (die Werte kannst du dir ausdenken )

df.loc['k'] = ['katja', 15.5, 1, 'ja',  1]
print(df)

      name  punkte  versuche bestanden  semester
a  claudia    12.5         1      True         1
b    emily     9.0         3     False         2
c   daniel    16.5         2      True         1
d     fred    11.5         3     False         1
e   hannah     9.0         2     False         2
f     anna    20.0         3      True         2
g     ilse    14.5         1      True         3
h    jonas     NaN         1     False         3
i   gustav     8.0         2     False         4
j    berta    19.0         1      True         1
k    katja    15.5         1        ja         1

In [26]:
# 15) Lösche die  Zeile für "Katja" wieder 

df = df.drop('k')
print(df)

      name  punkte  versuche bestanden  semester
a  claudia    12.5         1      True         1
b    emily     9.0         3     False         2
c   daniel    16.5         2      True         1
d     fred    11.5         3     False         1
e   hannah     9.0         2     False         2
f     anna    20.0         3      True         2
g     ilse    14.5         1      True         3
h    jonas     NaN         1     False         3
i   gustav     8.0         2     False         4
j    berta    19.0         1      True         1

In [18]:
# 16) Ersetze alle 'na'-Werte mit einer Null 

df =  df.fillna()
print(df)

      name punkte  versuche bestanden
a  claudia   12.5         1        ja
b    emily      9         3      nein
c   daniel   16.5         2        ja
d     fred   11.5         3      nein
e   hannah      9         2      nein
f     anna     20         3        ja
g     ilse   14.5         1        ja
h    jonas                1      nein
i   gustav      8         2      nein
j    berta     19         1        ja

In [30]:
# 17) Schreibe die Daten in eine neue CSV-Datei 

df.to_csv('neu.csv', sep=',', index=False)

new_df = pd.read_csv('neu.csv')
print(new_df)

      name  punkte  versuche  bestanden  semester
0  claudia    12.5         1       True         1
1    emily     9.0         3      False         2
2   daniel    16.5         2       True         1
3     fred    11.5         3      False         1
4   hannah     9.0         2      False         2
5     anna    20.0         3       True         2
6     ilse    14.5         1       True         3
7    jonas     0.0         1      False         3
8   gustav     8.0         2      False         4
9    berta    19.0         1       True         1

In [31]:
#####

#### und nun mit importierten Daten...

In [32]:
data = pd.read_csv('movies_metadata.csv', encoding = "ISO-8859-1", error_bad_lines=False)

b'Skipping line 31: expected 24 fields, saw 25\n'

In [33]:
#data.info()

In [34]:
data.shape #(Zeilen, Spalten)

(49, 24)

In [35]:
# 18) Lass dir alle Spalten des Datensatzes anzeigen

data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [37]:
# 19) Lass dir nur die ersten 6 Zeilen anzeigen 

print(data.head(6))

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0
5  False                                                NaN  60000000

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]
5  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en
5                                   NaN    949  tt0113277                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II
5                         Heat

                                            overview  ...  release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...    1995-10-30
1  When siblings Judy and Peter discover an encha...  ...    1995-12-15
2  A family wedding reignites the ancient feud be...  ...    1995-12-22
3  Cheated on, mistreated and stepped on, the wom...  ...    1995-12-22
4  Just when George Banks has recovered from his ...  ...    1995-02-10
5  Obsessive master thief, Neil McCauley leads a ...  ...    1995-12-15

     revenue runtime                                   spoken_languages  \
0  373554033    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911   106.0           [{'iso_639_1': 'en', 'name': 'English'}]
5  187436818   170.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...
5  Released                           A Los Angeles Crime Saga

                         title  video vote_average vote_count
0                    Toy Story  False          7.7       5415
1                      Jumanji  False          6.9       2413
2             Grumpier Old Men  False          6.5         92
3            Waiting to Exhale  False          6.1         34
4  Father of the Bride Part II  False          5.7        173
5                         Heat  False          7.7       1886

[6 rows x 24 columns]

In [38]:
# 20) Gib alle Daten für die Spalten "title" und "genre" aus

print(data[['title', 'genres']])

                             title  \
0                        Toy Story
1                          Jumanji
2                 Grumpier Old Men
3                Waiting to Exhale
4      Father of the Bride Part II
5                             Heat
6                          Sabrina
7                     Tom and Huck
8                     Sudden Death
9                        GoldenEye
10          The American President
11     Dracula: Dead and Loving It
12                           Balto
13                           Nixon
14                Cutthroat Island
15                          Casino
16           Sense and Sensibility
17                      Four Rooms
18  Ace Ventura: When Nature Calls
19                     Money Train
20                      Get Shorty
21                         Copycat
22                       Assassins
23                          Powder
24               Leaving Las Vegas
25                         Othello
26                    Now and Then
27                      Persuasion
28       The City of Lost Children
29                 Dangerous Minds
30                  Twelve Monkeys
31                Wings of Courage
32                            Babe
33                      Carrington
34                Dead Man Walking
35          Across the Sea of Time
36                    It Takes Two
37                        Clueless
38        Cry, the Beloved Country
39                     Richard III
40                 Dead Presidents
41                     Restoration
42                   Mortal Kombat
43                      To Die For
44   How To Make An American Quilt
45                           Se7en
46                      Pocahontas
47           When Night Is Falling
48              The Usual Suspects

                                               genres
0   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1   [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3   [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                      [{'id': 35, 'name': 'Comedy'}]
5   [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
6   [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
7   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
9   [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
10  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
11  [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
12  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
13  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
14  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
15  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
16  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
17  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
18  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
19  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
20  [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
21  [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
22  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
23  [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
24  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
25                      [{'id': 18, 'name': 'Drama'}]
26  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
27  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
28  [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
29  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
30  [{'id': 878, 'name': 'Science Fiction'}, {'id'...
31  [{'id': 10749, 'name': 'Romance'}, {'id': 12, ...
32  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
33  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
34                      [{'id': 18, 'name': 'Drama'}]
35  [{'id': 12, 'name': 'Adventure'}, {'id': 36, '...
36  [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
37  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
38                      [{'id': 18, 'name': 'Drama'}]
39  [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
40  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
41  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
42  [{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...
43  [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
44  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
45  [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...
46  [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
47  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
48  [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...

In [39]:
# 21) Lass dir die Daten des Films in der vierten Zeile anzeigen 

print(data.iloc[3])

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                            16000000
genres                   [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
homepage                                                               NaN
id                                                                   31357
imdb_id                                                          tt0114885
original_language                                                       en
original_title                                           Waiting to Exhale
overview                 Cheated on, mistreated and stepped on, the wom...
popularity                                                         3.85949
poster_path                               /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
production_companies     [{'name': 'Twentieth Century Fox Film Corporat...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-12-22
revenue                                                           81452156
runtime                                                                127
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Friends are the people who let you be yourself...
title                                                    Waiting to Exhale
video                                                                False
vote_average                                                           6.1
vote_count                                                              34
Name: 3, dtype: object

In [40]:
# 22) Lass dir die Daten für den Film "The American President" anzeigen

title = data.set_index('title')
print(title.loc['The American President'])

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                            62000000
genres                   [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
homepage                                                               NaN
id                                                                    9087
imdb_id                                                          tt0112346
original_language                                                       en
original_title                                      The American President
overview                 Widowed U.S. president Andrew Shepherd, one of...
popularity                                                         6.31844
poster_path                               /lymPNGLZgPHuqM29rKMGV46ANij.jpg
production_companies     [{'name': 'Columbia Pictures', 'id': 5}, {'nam...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-11-17
revenue                                                          107879496
runtime                                                                106
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Why can't the most powerful man in the world h...
video                                                                False
vote_average                                                           6.5
vote_count                                                             199
Name: The American President, dtype: object

In [41]:
# 23) Erzeuge einen kleineren Datensatz, der nur noch die Daten dieser Spalten enthält:

# 'title',
# 'release_date'
# 'original_language', 
# 'spoken_languages', 

small_data = data[['title', 'release_date', 'original_language', 'spoken_languages']]
print(small_data.head(10))

                         title release_date original_language  \
0                    Toy Story   1995-10-30                en
1                      Jumanji   1995-12-15                en
2             Grumpier Old Men   1995-12-22                en
3            Waiting to Exhale   1995-12-22                en
4  Father of the Bride Part II   1995-02-10                en
5                         Heat   1995-12-15                en
6                      Sabrina   1995-12-15                en
7                 Tom and Huck   1995-12-22                en
8                 Sudden Death   1995-12-22                en
9                    GoldenEye   1995-11-16                en

                                    spoken_languages
0           [{'iso_639_1': 'en', 'name': 'English'}]
1  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2           [{'iso_639_1': 'en', 'name': 'English'}]
3           [{'iso_639_1': 'en', 'name': 'English'}]
4           [{'iso_639_1': 'en', 'name': 'English'}]
5  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
6  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
7  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
8           [{'iso_639_1': 'en', 'name': 'English'}]
9  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...

In [42]:
small_data.shape

(49, 4)

In [43]:
# 24) Sortiere diesen neuen Datensatz nach Erscheinungsdatum
print(small_data.sort_values('release_date'))

                             title release_date original_language  \
4      Father of the Bride Part II   1995-02-10                en
47           When Night Is Falling   1995-05-05                en
28       The City of Lost Children   1995-05-16                fr
43                      To Die For   1995-05-20                en
46                      Pocahontas   1995-06-14                en
32                            Babe   1995-07-18                en
48              The Usual Suspects   1995-07-19                en
37                        Clueless   1995-07-19                en
29                 Dangerous Minds   1995-08-11                en
42                   Mortal Kombat   1995-08-18                en
45                           Se7en   1995-09-22                en
27                      Persuasion   1995-09-27                en
44   How To Make An American Quilt   1995-10-06                en
40                 Dead Presidents   1995-10-06                en
22                       Assassins   1995-10-06                en
35          Across the Sea of Time   1995-10-20                en
26                    Now and Then   1995-10-20                en
20                      Get Shorty   1995-10-20                en
23                          Powder   1995-10-27                en
21                         Copycat   1995-10-27                en
24               Leaving Las Vegas   1995-10-27                en
0                        Toy Story   1995-10-30                en
33                      Carrington   1995-11-08                en
18  Ace Ventura: When Nature Calls   1995-11-10                en
9                        GoldenEye   1995-11-16                en
36                    It Takes Two   1995-11-17                en
10          The American President   1995-11-17                en
19                     Money Train   1995-11-21                en
15                          Casino   1995-11-22                en
17                      Four Rooms   1995-12-09                en
16           Sense and Sensibility   1995-12-13                en
38        Cry, the Beloved Country   1995-12-15                en
1                          Jumanji   1995-12-15                en
5                             Heat   1995-12-15                en
25                         Othello   1995-12-15                en
6                          Sabrina   1995-12-15                en
2                 Grumpier Old Men   1995-12-22                en
3                Waiting to Exhale   1995-12-22                en
7                     Tom and Huck   1995-12-22                en
11     Dracula: Dead and Loving It   1995-12-22                en
12                           Balto   1995-12-22                en
8                     Sudden Death   1995-12-22                en
14                Cutthroat Island   1995-12-22                en
13                           Nixon   1995-12-22                en
41                     Restoration   1995-12-29                en
30                  Twelve Monkeys   1995-12-29                en
39                     Richard III   1995-12-29                en
34                Dead Man Walking   1995-12-29                en
31                Wings of Courage   1996-09-18                fr

                                     spoken_languages
4            [{'iso_639_1': 'en', 'name': 'English'}]
47           [{'iso_639_1': 'en', 'name': 'English'}]
28  [{'iso_639_1': 'cn', 'name': '??? / ???'}, {'i...
43           [{'iso_639_1': 'en', 'name': 'English'}]
46           [{'iso_639_1': 'en', 'name': 'English'}]
32           [{'iso_639_1': 'en', 'name': 'English'}]
48  [{'iso_639_1': 'es', 'name': 'Español'}, {'iso...
37  [{'iso_639_1': 'es', 'name': 'Español'}, {'iso...
29           [{'iso_639_1': 'en', 'name': 'English'}]
42           [{'iso_639_1': 'en', 'name': 'English'}]
45           [{'iso_639_1': 'en', 'name': 'English'}]
27           [{'iso_639_1': 'en', 'name': 'English'}]
44           [{'iso_639_1': 'en', 'name': 'English'}]
40           [{'iso_639_1': 'en', 'name': 'English'}]
22  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
35  [{'iso_639_1': 'ru', 'name': 'P??????'}, {'iso...
26           [{'iso_639_1': 'en', 'name': 'English'}]
20           [{'iso_639_1': 'en', 'name': 'English'}]
23           [{'iso_639_1': 'en', 'name': 'English'}]
21  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
24           [{'iso_639_1': 'en', 'name': 'English'}]
0            [{'iso_639_1': 'en', 'name': 'English'}]
33           [{'iso_639_1': 'en', 'name': 'English'}]
18           [{'iso_639_1': 'en', 'name': 'English'}]
9   [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
36           [{'iso_639_1': 'en', 'name': 'English'}]
10           [{'iso_639_1': 'en', 'name': 'English'}]
19           [{'iso_639_1': 'en', 'name': 'English'}]
15           [{'iso_639_1': 'en', 'name': 'English'}]
17           [{'iso_639_1': 'en', 'name': 'English'}]
16           [{'iso_639_1': 'en', 'name': 'English'}]
38           [{'iso_639_1': 'en', 'name': 'English'}]
1   [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
5   [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
25           [{'iso_639_1': 'en', 'name': 'English'}]
6   [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...
2            [{'iso_639_1': 'en', 'name': 'English'}]
3            [{'iso_639_1': 'en', 'name': 'English'}]
7   [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
11  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
12           [{'iso_639_1': 'en', 'name': 'English'}]
8            [{'iso_639_1': 'en', 'name': 'English'}]
14  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
13           [{'iso_639_1': 'en', 'name': 'English'}]
41  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
30  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
39           [{'iso_639_1': 'en', 'name': 'English'}]
34           [{'iso_639_1': 'en', 'name': 'English'}]
31           [{'iso_639_1': 'en', 'name': 'English'}]

In [44]:
# 25) Shuffel den (originalen) Datensatz bzw. bringe ihn in eine zufällige Reihenfolge

data = data.sample(frac=1)

In [45]:
#oder mit sklearn:
from sklearn.utils import shuffle
data = shuffle(data)

In [46]:
data.shape

(49, 24)

In [47]:
# 26) Teile den (originalen) Datensatz in ein Trainingsset(80%) und ein Testset (20%) auf 
# (nutze "random-state", um das Vorgehen reproduzieren zu können) 

train = data.sample(frac=0.8, random_state=1)
test= data.drop(train.index)

#print("Trainingsset:", train)
#print("Testset:", test)
print("Größe des Trainingssets:", len(train))
print("Größe des Testsets:", len(test))

Größe des Trainingssets: 39
Größe des Testsets: 10

In [55]:
# 27) Schreibe nun je das Training- und das Testset in eine neue CSV-Datei

train.to_csv('train.csv', sep=',', index=False)
test.to_csv('test.csv', sep= ',', index=False)

#train_csv = pd.read_csv('train.csv')
#train_csv.shape
#print(train_csv.head())

#test_csv = pd.read_csv('test.csv')
#test_csv.shape
#print(test.head())